* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* fondo de la pagina*/
    background-size: contain;
    max-width: 100%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.text{

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #e2e3f3;
    margin: 10px;

}


.text1{
   width: 1000px;
   margin: 50px;
   padding-left: 50px;

}

.titulo1{

   font-family: 'Fredoka One', cursive;
   color: black;
   font-size: 30px;
   padding-bottom: 10px;
  
}


.imagens2{

   width: 80%;
   height: 80%;
}

nav{
    float: right;
    background-color: #e2e3f3;
}

.menu {

    width: 100%;
    margin: 0 auto;
}

nav ul li{
    list-style: none;
    margin-left: 40px;
    padding: 25px 0;
    float: left;    
}

a {
    text-decoration: none;
    color: black;
}

h1{
    font-family: 'Merienda', cursive;
    color: #7375a5;
    font-size: 68px;
    margin-left: 100px;
    text-decoration: none;    
}

span{
    color: #000503;
    font-family: 'Merienda', cursive;
}

nav a{

    text-decoration: none;
}

/* tamaño de imagen principal*/
img{
    width: 100%;
    height: 80%;

}

/* esto es para centrar imagen*/
.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: local;
    height: 50vh;

}

/* esto es el tamaño de la imagen*/
.img2{
    width: 300px;
    height: 200px;
}

p{
    font-family: 'Shadows Into Light', cursive;
    color: black;
    font-size: 25px;
    
}

.parrafo {

    margin-top: 0;
    margin-bottom: 1rem;


}

dd{
    font-family: 'Fredoka One', cursive;
    color: black;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-top: 1cm;
    padding-left: 50px;
}

.listas{
    font-family: 'Shadows Into Light', cursive;
    color: black;
    font-size: 25px;
}

.definicion{
    font-family: 'Shadows Into Light', cursive;
    color: black;
    font-size: 25px;
}



td{
    text-align: center;
}

.delete{
    padding: 0;
    border: none; 
    background: none;
}
.hamburger{
 position: fixed;
 top: 30px;
 right: 30px;
 background: #fff;
 width: 40px;
 height: 40px;
 cursor: pointer;
 border-radius: 10px;
 box-shadow: 0 0 6px rgba(0, 0, 0, .5);

}

.menu-navegacion{
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform .3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  z-index:1;

}


.spread{

    transform: translate(0);
}
.menu-navegacion a{
    
    color: #fff;
    text-decoration: none;
}

.ico{

    width: 100%;
    height: 80%;
    
}

.divicion {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    
   
    

}
.divicion2{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
   
    
}

.grid{

    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.textos-hero {

    background: #e2e3f3;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    overflow: hidden;
    height: 220px;
    padding: 20px 10px;
    text-align: center;

}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: 0;
    overflow: hidden;
    
   
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.content-foo{
    text-align: center;
}

.content-foo h2{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


@media screen and (max-width: 800px){

  
   
    
    h1{
      
        font-size: 30px;
        margin-left: 50px;
       
    }
    .menu-navegacion{
        
        width: 40%;
        
    }

    .divicion{  
        
        width: 100%;


    }

    .divicion2{  
        
        width: 100%;


    }
    
    
    
}

    @media screen and (max-width: 500px){

     
    h1{
       
        font-size: 30px;
        margin-left: 50px;
        
    }

    h4{
        font-size: 30px;
    }
    .menu-navegacion{

        width: 70%;
        
    }
    
    .divicion{  
        
        width: 100%;


    }

    .divicion2{  
        
        width: 100%;


    }
    
}